<header class="sticky-top">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="https://www.instagram.com/static/images/web/mobile_nav_type_logo.png/735145cfe0a4.png"
                    alt="Instagram">
            </a>

            <div class="search__input m-auto d-none d-md-block">
                <form class="form-inline my-2 my-lg-0 formx" method="get" action="">
                    <input class="form-control mr-sm-2 nosubmit" type="search" name="q" placeholder="Search"
                        aria-label="Search">
                </form>
            </div>

            <ul class="navbar-nav ml-0 ml-md-auto d-flex flex-row">

                <li class="nav-item px-md-3 px-2 d-flex flex-column justify-content-center">
                    <a href="{% url 'home' %}" class="text-decoration-none text-reset"><span
                            class="nav__icons fa fa-home"></span></a>
                </li>

                <li class="nav-item px-md-3 px-2 d-flex flex-column justify-content-center">
                    <a href="" class="text-decoration-none text-reset"><span class="far fa-compass"></span></a>
                </li>
               
                <li class="nav-item px-md-3 px-2 d-flex flex-column justify-content-center">
                    <a href="{% url 'create-post' %}" class="text-decoration-none text-reset"><span class="fa fa-square-plus"></span></a>
                </li>

                <li class="nav-item px-md-3 px-2 d-flex flex-column justify-content-center">
                    <a href="" class="text-decoration-none text-reset"><span class="far fa-heart"></span></a>
                </li>
                <path
                    d="M2 12v3.45c0 2.849.698 4.005 1.606 4.944.94.909 2.098 1.608 4.946 1.608h6.896c2.848 0 4.006-.7 4.946-1.608C21.302 19.455 22 18.3 22 15.45V8.552c0-2.849-.698-4.006-1.606-4.945C19.454 2.7 18.296 2 15.448 2H8.552c-2.848 0-4.006.699-4.946 1.607C2.698 4.547 2 5.703 2 8.552z"
                    fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                </path>
                <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    x1="6.545" x2="17.455" y1="12.001" y2="12.001"></line>
                <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    x1="12.003" x2="12.003" y1="6.545" y2="17.455"></line>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if request.user.is_authenticated %}
                        <a class="dropdown-item" href="{% url 'profile' request.user.profile.id %}">Profile</a>
                        <a class="dropdown-item" href="{% url 'update-user' %}">Settings</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                        {% endif %}
                    </div>
                </li>
            </ul>

        </div>
    </nav>
</header>