{% for image in images %}
<div class="card mx-auto mb-5" style="max-width: 40rem;">
    <div class="card-header d-flex flex-row"">
        {% if image.owner.profile_photo %}
        <img src=" {{ image.owner.profile_photo.url }}" class="rounded-circle z-depth-0" style="width: 5%;">
        {% else %}
        <img src="https://cdn-icons.flaticon.com/png/512/1144/premium/1144811.png?token=exp=1649023979~hmac=5aaf8ccfad0ac8bb64b6c964a16c4716"
            alt="" class="rounded-circle z-depth-0" style="width: 5%;">
        {%endif%}
        &nbsp;<small><strong><a href="{% url 'profile' image.owner.id %}" class="text-decoration-none text-reset">
                    {{image.owner.username}}</a></strong></small>
        <span>
            {% if request.user == image.owner.user %}
            <a href="{% url 'update-post' image.id %}"><i class="fas fa-edit"></i></a>
            <a href="{% url 'delete-post' image.id %}"><i class="fa fa-times"></i></a>
            {% endif %}
        </span>
    </div>
    <div class="card-body p-0">
        <img src="{{image.image.url}}" alt="{{image.name}}" style="width: 100%;">
        <p class="card-title m-0"><strong>{{image.name}}</strong></p>
        <p class="card-text m-0"><small>{{image.caption}}</small></p>
    </div>
    <form action="{% url 'like' %}" method="post">
        {% csrf_token %}
        <input type="hidden" value="{{image.id}}" name="image_id">

        {% if user not in image.liked.all %}
        <button type="submit" class="fa fa-heart text-red">like</button>
        {% else %}
        <button type="submit" class="fa fa-heart text-white">unlike</button>
        {% endif %}


    </form>
    <strong>{{image.liked.all.count}} Likes</strong>
    <div class="card-footer">
        {% if request.user.is_authenticated %}
        <div>
            <form action="" class="form-group" method="post" class="m-0">
                {% csrf_token %}
                <input type="text" class="form-control m-0 p-0 nosub" name="body" id=""
                    placeholder=". .  . leave a comment">
            </form>
        </div>
        {% endif %}
    </div>
</div>
{% endfor %}