{% extends 'main.html' %}
{% load static %}
{% block content %}

<style>
    .home-cont {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>

<div class="home-cont">
    <div>
        <h3>explore</h3>
        <p><a href="{% url 'home' %}">Posts</a></p>
        {% for tag in tags %}
        <p><a href="{% url 'home' %}?q={{tag.name}}">{{tag.name}}</a></p>
        {% endfor %}
    </div>

    <div>
        
        {% if images_count > 0 %}
        <h5>{{images_count}} posts found</h5>
        {% elif images_count == -1 %}
        {% else %}
        <h5>{{images_count}} posts found</h5>
        {% endif %}
            
        <a href="{% url 'create-post' %}">add Post</a>

        {% for image in images %}
        <div>
            <a href="{% url 'update-post' image.id %}">edit Post</a>
            <a href="{% url 'delete-post' image.id %}">Delete Post</a>
            <p>@{{image.owner.username}}</p>
            <img src="{{image.image.url}}" alt="" style="width: 10%;">
            <h4><a href="{% url 'post' image.id %}">{{image.name}}</a> -- {{image.caption}}</h4>
            <p>{{image.tags.name}}[0]</p>
        </div>
        {% endfor %}
    </div>

    <div>
        <h3>Based on your recent following</h3>
    </div>
</div>

{% endblock content %}