{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row justify-content-center" style="gap:20px">
        <div class="col-md-6">
            {% if images_count == 1 %}
            <h5>{{images_count}} post found</h5>
            {% elif images_count > 1 %}
            <h5>{{images_count}} posts found</h5>
            {% elif images_count == -1 %}
            {% else %}
            <h5>{{images_count}} posts found</h5>
            {% endif %}
            <br>
            {% include 'insta/feed_component.html' %}
        </div>


        <div class="col-md-3">
            <br>
            <div class="card-header">
                {% if request.user.profile_photo %}
                <img src=" {{ request.user.profile_photo.url }}" class="rounded-circle z-depth-0 img-thumbnail"
                    style="width: 15%;">
                {% else %}
                <i class="fa fa-user-circle"></i>
                {%endif%}
                <span>{{request.user.username}}</span>
            </div>
            <hr>
            <p>Suggestions for you</p>
            <hr>
            <div class="card">
                {% for user in users %}
                {% if user == request.user%}
                {% else %}

                <p class=" text-decoration-none list-style-none text-reset card-header">
                    {% if user.profile_photo %}
                    <img src=" {{ user.profile_photo.url }}" class="rounded-circle z-depth-0 img-thumbnail"
                        style="width: 10%;">
                    {% else %}
                    <i class="fa fa-user-circle"></i>
                    {%endif%}
                    <span><a href="{% url 'profile' user.id %}">{{user.username}}</a></span>
                </p>
                {% endif %}
                {% endfor %}
            </div>



        </div>
    </div>
</div>
{% endblock content %}