{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row justify-content-center" style="gap:20px">
        <div class="col-md-6">
            {% if images_count == 1 %}
            <h5>{{images_count}} post found</h5>
            {% elif images_count > 1 %}
            <h5>{{images_count}} posts found</h5>
            {% elif images_count == -1 %}
            {% else %}
            <h5>{{images_count}} posts found</h5>
            {% endif %}
            {% include 'insta/feed_component.html' %}
        </div>


        <div class="col-md-3">
            <p>suggestions for you</p>

            {% for user in users %}
            <li class="text-reset"><a href="{% url 'profile' user.id %}">{{user.username}}</a></li>
            {% endfor %}

            <!-- <div>
                <p>explore</p>
                <p><a href="{% url 'home' %}">Posts</a></p>
                {% for tag in tags %}
                <p><a href="{% url 'home' %}?q={{tag.name}}">{{tag.name}}</a></p>
                {% endfor %}
            </div> -->

        </div>
    </div>
</div>
{% endblock content %}