{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% block content %}

{% if page == 'login' %}
<form action="" method="post">
    {% csrf_token %}
    <label for="">Username:</label>
    <input type="text" name="username" id="" placeholder="Enter Username" required>

    <label for="">Password:</label>
    <input type="password" name="password" id="" placeholder="Enter password" required>

    <input type="submit" value="Login">
</form>
    <p>Don't have an account yet?</p>
    <a href="{% url 'register' %}">Sign Up</a>

{% else %}
<div id="wrapper" id="content" style="padding-top: 0 !important;">
    <div class="register">
        <div class="form-data form-data-reg">
            <form action="" method="post">
                {% csrf_token %}
                <div class="logo-reg">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/1200px-Instagram_logo.svg.png" alt="">
                </div>
                <h4 class="intro">Sign up to see photos and videos from your friends.</h4>
                {{ form|crispy }}
                <input class="form-btn" type="submit" value="SignUp">
            </form>
            <div class="sign-up">
                <p>Already a member?</p>
                <a href="{% url 'login' %}">Login</a>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock content %}