{% extends 'main.html' %}


{% block content %}

{% if page == 'login' %}
<form action="" method="post">
    {% csrf_token %}
    <label for="">Username:</label>
    <input type="text" name="username" id="" placeholder="Enter Username" required>

    <label for="">Password:</label>
    <input type="password" name="password" id="" placeholder="Enter password" required>

    <input type="submit" value="Login">
</form>
    <p>Don't have an account yet?</p>
    <a href="{% url 'register' %}">Sign Up</a>

{% else %}

<form action="" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="SignUp">
</form>
<p>Already a member?</p>
<a href="{% url 'login' %}">Login</a>
{% endif %}

{% endblock content %}