{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}

{% if page == 'login' %}

<div class="full_login" id="wrapper">
    <div class="container">
        <div class="form-data">
            <form action="" method="post" class="fm">
                {% csrf_token %}
                <div class="logo">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/1200px-Instagram_logo.svg.png"
                        alt="">
                </div>
                <label for="" class="fm">Username:</label>
                <input type="text" name="username" id="" placeholder="Enter Username" required>

                <label for="" class="fm">Password:</label>
                <input type="password" name="password" id="" placeholder="Enter password" required>

                <input type="submit" value="Login">
                <span class="has-separator">OR</span>
                <a href="#" class="facebook-login">
                    <i class="fab fa-facebook"></i>Log in with Facebook
                </a>
                <a href="#" class="password-reset">Forgot password?</a>
            </form>
            <div class="sign-up">
                Don't have an account? <a href="{% url 'register' %}" class="ml-2">Sign Up</a>
            </div>
            <div class="get-the-app">
                <span>Get the app</span>
                <div class="badges">
                    <img src="{% static 'images/ic.jpg' %}" alt="">
                </div>
            </div>
        </div>
        <div class="demo">
        </div>
    </div>
    <footer>
        <div class="container">
            <nav class="footer-nav">
                <ul>
                    <li>
                        <a href="#">About us</a>
                    </li>
                    <li>
                        <a href="#">Support</a>
                    </li>
                    <li>
                        <a href="#">Press</a>
                    </li>
                    <li>
                        <a href="#">Api</a>
                    </li>
                    <li>
                        <a href="#">Jobs</a>
                    </li>
                    <li>
                        <a href="#">Privacy</a>
                    </li>
                    <li>
                        <a href="#">Terms</a>
                    </li>
                    <li>
                        <a href="#">Profiles</a>
                    </li>
                    <li>
                        <a href="#">Hashtags</a>
                    </li>
                    <li>
                        <a href="#">Languages</a>
                    </li>
                </ul>
            </nav>
            <div>
                &copy; 2022 Instagram
            </div>
        </div>
    </footer>
</div>


{% else %}
<div class="container">
    <div class="layout__box">
        <div class="layout__boxHeader">
            <div class="layout__boxTitle">
                <h3>Register</h3>
            </div>
        </div>
        <div class="layout__body">
            <div class="logo-register">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/1200px-Instagram_logo.svg.png"
                    alt="">
            </div>
            <form class="form" action="" method="post">
                {% csrf_token %}

                {% for field in form %}
                <div class="form__group form__group">
                    <label for="room_name">{{field.label}}</label>
                    {{field}}
                </div>
                {% endfor %}

                <button class="btn btn--main align-center" type="submit">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                        <title>lock</title>
                        <path
                            d="M27 12h-1v-2c0-5.514-4.486-10-10-10s-10 4.486-10 10v2h-1c-0.553 0-1 0.447-1 1v18c0 0.553 0.447 1 1 1h22c0.553 0 1-0.447 1-1v-18c0-0.553-0.447-1-1-1zM8 10c0-4.411 3.589-8 8-8s8 3.589 8 8v2h-16v-2zM26 30h-20v-16h20v16z">
                        </path>
                        <path
                            d="M15 21.694v4.306h2v-4.306c0.587-0.348 1-0.961 1-1.694 0-1.105-0.895-2-2-2s-2 0.895-2 2c0 0.732 0.413 1.345 1 1.694z">
                        </path>
                    </svg>
                    Register
                </button>
            </form>

            <div class="auth__action">
                <p>Already have an account?</p>
                <a href="{% url 'login' %}" class="btn btn--main">Login</a>
            </div>
        </div>
    </div>
</div>


{% endif %}

{% endblock content %}