{% extends 'main.html' %}
{% load bootstrap5 %}

{% block content %}
<br>
<div class="all container">
    <div class="side">
        <div class="card-header d-flex container xc">
            <div>
                {% if image.owner.profile_photo %}
                <img src=" {{ image.owner.profile_photo.url }}" class="rounded-circle img-thumbnail z-depth-0"
                    style="width: 8%;">
                {% else %}
                <i class="fa fa-user-circle" style="width: 8%;"></i>
                {%endif%}
                &nbsp;<small><strong><a href="{% url 'profile' image.owner.id %}"
                            class="text-decoration-none text-reset">
                            {{image.owner.user.username}}</a></strong></small>
            </div>
            <div class="d-flex opt">
                {% if request.user == image.owner.user %}
                <span><a href="{% url 'update-post' image.id %}"><i class="fas fa-edit"></i></a></span>
                <br>
                <span>
                    <a href="{% url 'delete-post' image.id %}"><i class="fa fa-times"></i></a>
                </span>
                {% endif %}
            </div>

        </div>
        <div class="imx">
            <a href="{% url 'post' image.id %}"><img src="{{image.image.url}}" alt="{{image.name}}"
                    style="width: 100%;"></a>
        </div>
    </div>

    <div class="side-two h-100">
        <div class="card-header d-flex viewx">
            <div>
                {% if image.owner.profile_photo %}
                <img src=" {{ image.owner.profile_photo.url }}" class="rounded-circle img-thumbnail z-depth-0"
                    style="width: 8%;">
                {% else %}
                <i class="fa fa-user-circle" style="width: 8%;"></i>
                {%endif%}
            </div>
        </div>
        <br>
        <div class="container-fluid">
            {% if image.owner.profile_photo %}
            <img src=" {{ image.owner.profile_photo.url }}" class="rounded-circle img-thumbnail z-depth-0"
                style="width: 8%;">
            {% else %}
            <i class="fa fa-user-circle" style="width: 8%;"></i>
            {%endif%}
            <span><strong><a href="{% url 'profile' image.owner.id %}"
                class="text-decoration-none text-reset">
                {{image.owner.user.username}}</a></strong></span>

            <p class="card-text p-3">{{image.caption}}</p>
            <hr>
            <br>

        </div>

        <div class="container">
            <div class="">
                <br>
                <div class="container">

                    <div>
                        <strong>
                            <p class="p-0 m-0">All Comments</p>
                        </strong>
                        <div class="container-fluid">

                            {% for comment in comments %}
                            <div class="commentx">
                                <div>
                                    <small><strong><a href="{% url 'profile' image.owner.id %}"
                                                class="text-decoration-none text-reset">{{comment.user}}</a></strong>
                                        <span class="tx"> {{comment.body}}</span>
                                    </small>
                                </div>
                                <div>
                                    {% if request.user == comment.user %}
                                    <a href="{% url 'delete-comment' comment.id %}"><i class="fa fa-times"></i></a>
                                    {% endif %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>
            <div class="container">
                <div class="d-flex form-x">
                    <form action="{% url 'like' %}" method="post" class="like-f" id="like-form">
                        {% csrf_token %}
                        <input type="hidden" value="{{image.id}}" name="image_id">

                        {% if user not in image.liked.all %}
                        <button type="submit" class="btn-transparent far fa-heart icon-x"></button>
                        {% else %}
                        <button type="submit" class="btn-transparent fa fa-heart icon-x text-red"></button>
                        {% endif %}
                    </form>
                    <a href="{% url 'post' image.id %}"> <i class="far fa-message icon-x"></i></a>
                    <a href="{% url 'post' image.id %}"> <i class="far fa-paper-plane icon-x"></i></a>
                </div>
                <div class="likex">
                    <p class="material-icons">&#xE87C;</p>
                    <p><span> </span> Liked by {{image.liked.all.count}} </p>
                </div>
            </div>
            <div class="card-footer">
                <br>
                {% if request.user.is_authenticated %}
                <div>
                    <form action="" class="form-group formlx" method="post" class="m-0" id="comment-form">
                        {% csrf_token %}
                        <input type="hidden" name="image_id" value="{{image.id}}" id="image_id">
                        <span class="material-icons">&#xE87C;</span>
                        <input type="text" class="form-control trial" name="body" id="body_id" placeholder="Add a comment">
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
</script>
<script>
    $(document).on('submit','#comment-form', function(e){
        e.preventDefault();
        $.ajax({
            type:'POST',
            url: "{% url 'post' image.id %}",
            data:{
                pk: $("#image_id").val(),
                body: $("#body_id").val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function(data, response){
                console.log(data.body)
                document.location.href = "{% url 'post' image.id %}"
                alert(data)
            },
            error: function (response) {
                alert("An error occurred");
            }
        });
    });
</script>
{% endblock content %}