{% extends 'main.html' %}


{% block content %}
<div class="container prof">

    <div class="row">
        <div>
            <h1>{{user.username}}</h1>
            {{user.bio}}
            <img src="{{profile.profile_photo.url}}" alt="" style="width: 10%;">

            <form action="{% url 'followers' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="user" value="{{request.user.username}}" readonly/>
                <input type="hidden" name="follower" value="{{user.username}}" readonly/>
                <input type="hidden" name="value" value="follow" readonly/>
                <button type="submit">Follow</button>
            </form>

            <a href="{% url 'update-user' %}">Edit Profile</a>

            <div><span>following</span> <span>followers</span></div>
        </div>
        {% for image in images %}
        <div class="col-md-3 h-100">
            <div class="mx-auto mb-5" style="max-width: 40rem;">
                <img src="{{image.image.url}}" alt="{{image.name}}" style="width: 100%;">
            </div>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock content %}