{% extends 'main.html' %}
{% load bootstrap5 %}
{% load static %}

{% block content %}
<div class="container prof container">
    <div class="full-profile">
        <div class="container photo ">

            {% if profile.profile_photo %}
            <img src="{{profile.profile_photo.url}}" alt="" class="rounded-circle img-thumbnail" style="width:70%">
            {% else %}
            <img src="{% static 'images/avatar.jpg' %}" alt="" class="rounded-circle img-thumbnail" style="width:70%">
            {%endif%}

        </div>
        <div>
            <div class="details">
                <h1>{{profile.user.username}}</h1>
                {%if profile.user.username == request.user.username%}
                <a href="{% url 'update-user' %}"><button class="btn btn--pill">Edit Profile <span
                            class="mr-3 fa fa-cog"></span></button></a>
                {% endif %}
            </div>

            <div class="">
                {%if profile.user.username == request.user.username%}

                {% else%}

                <div>
                    {% if isFollowing %}
                    {% if unfollow_form %}
                    <form action="{% url 'profile' profile.id %}" method="post" style="margin-top: 2rem;">
                        {%csrf_token%}
                        {% bootstrap_form unfollow_form%}
                        <input type="submit" class=" btn btn-info" name="unfollow" value="Unfollow"
                            style="color: #003569 !important; padding: 6px 9px;">
                    </form>
                    {% endif %}
                    {% else %}
                    {% if follow_form %}
                    <form action="{% url 'profile' profile.id %}" method="post" style="margin-top: 2rem;">
                        {%csrf_token%}
                        {% bootstrap_form follow_form%}
                        <input type="submit" class=" btn btn-primary" name="follow" value="Follow"
                            style="background-color: #003569 !important; padding: 6px 9px;">
                    </form>
                    {% endif %}
                    {% endif %}
                    {% endif %}
                    <div class="d-flex counts" style="margin-top: 2rem;">
                        <div class="counts-det">
                            <strong>{{posts_count}}</strong>
                            <p>posts</p>
                        </div>
                        <div class="counts-det">
                            <strong>{{profile.followers}}</strong>
                            <p>followers</p>
                        </div>
                        <div class="counts-det">
                            <strong>{{profile.following}}</strong>
                            <p>following</p>
                        </div>
                    </div>
                </div>

                <div class="">
                    <br>
                    <h4>{{user.bio}}</h4>
                </div>

            </div>

        </div>
    </div>

    <div class="container">
        <div class="row images-list container justify-content-centre">
            <br>
            <br>
            <hr>
            {% for image in images %}
            <div class="col-md-4 h-100">
                <div class="" style="max-width: 40rem;">
                    <a href="{% url 'post' image.id %}"><img src="{{image.image.url}}" alt="{{image.name}}"
                            style="width: 100%;"></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}